@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

#wrap-training{
    /* background-image: url('http://www.fullhdwpp.com/wp-content/uploads/streets-of-japan-26_www.FullHDWpp.com_.jpg'); */
    background-image: url('https://i.pinimg.com/originals/6c/73/41/6c7341f8ceef532c3ecbb7420b6adeb3.jpg');
    /* background-image: url('http://getwallpapers.com/wallpaper/full/3/6/0/655906.jpg'); */
    /* background-image: url('https://sotoak.com/wallpapers/japan-world-wallpaper-full-hd-As-Wallpaper-HD.jpg'); */
    /* background-image: url('http://sf.co.ua/14/07/wallpaper-2915737.jpg'); */
    background-size: contain;
}

#wrap-training #fake{
    opacity: 0;
}

#wrap-training #wrap-content{
    width: 80%;
    margin: auto;
    padding-top: 6rem;
}
#wrap-training #wrap-content #content{
    /* text-align: center; */
    background-color: white;
}
#wrap-training h1{
    margin-top: 2rem;
    text-align: center;
    user-select: none;
}
#wrap-training #wrap-content .doc-box{
    
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #DDD;
}


#loading-train{
      /* background-image: url('http://www.fullhdwpp.com/wp-content/uploads/streets-of-japan-26_www.FullHDWpp.com_.jpg'); */
      height: 100vh;
      /* background-image: url('https://i.pinimg.com/originals/6c/73/41/6c7341f8ceef532c3ecbb7420b6adeb3.jpg'); */
      /* background-image: url('http://getwallpapers.com/wallpaper/full/3/6/0/655906.jpg'); *
      /* background-image: url('https://sotoak.com/wallpapers/japan-world-wallpaper-full-hd-As-Wallpaper-HD.jpg'); */
      /* background-image: url('http://sf.co.ua/14/07/wallpaper-2915737.jpg'); */
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
}

@media (max-height: 900px){
    #wrap-training #navbar{
        top: 15%;
        font-size: 12px;
    }
}
