@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
#home-wrap{
    /* background-image: url('http://www.fullhdwpp.com/wp-content/uploads/streets-of-japan-26_www.FullHDWpp.com_.jpg'); */
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/6c/73/41/6c7341f8ceef532c3ecbb7420b6adeb3.jpg');
    /* background-image: url('http://getwallpapers.com/wallpaper/full/3/6/0/655906.jpg'); */
    /* background-image: url('https://sotoak.com/wallpapers/japan-world-wallpaper-full-hd-As-Wallpaper-HD.jpg'); */
    /* background-image: url('http://sf.co.ua/14/07/wallpaper-2915737.jpg'); */
    background-size: cover;
}
#menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    /* */
  }
  
  #menu h1, #list{
    background: transparent;
    color: white;
    font-family: 'Courgette', cursive;
  }
  #menu h1{
    font-size: 80px;
    margin-bottom: 4rem;
  }
  #menu #list .item{
    margin: 2rem 0rem;
    font-size: 45px;
    list-style: none;
    transition: 0.5s;
    padding: 2px 1rem;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  
  #link-wrap{
      color: white;
      text-decoration: none;
  }
  #menu #list .item:hover img{
    transform: rotate(360deg);
  }
  #menu #list .item span{
    margin-right: 1rem;
  
  }
  #menu #list .item span img{
    font-weight: bold;
    height: 50px;
    transition: 1s;
  }
  #menu #list .item::before{
    content: "";
    position: absolute;
    background-color: rgba(43, 254, 234, 0.2);
    height: 100%;
    width: 0%;
    left: 0%;
    /* transform: translate(-50%); */
    transition: 1s;
    border-radius: 20px;
  }
  #menu #list .item:hover::before{
    width: 80%;
  }
  #menu h1{
    overflow: hidden;
    position: relative;
    color: #DDD;
    animation: 10s textAnimate_2 infinite linear;
  }
  #menu h1::before{
    content: 'CoderS nihonGo';
    color: #70b1b1;
    position: absolute;
    top: -10%;
    animation: 10s textAnimate infinite linear;
  }
 
  @keyframes textAnimate_2{
    0%{
        color: black;
    }
    20%{
        color: #315b96;
    }
    40%{
        color: black;
    }
    60%{
        color: #445c3c;
    }
    80%{
        color: #315b96;
    }
    100%{
        color: #445c3c;
    }
  }


  /*  */


  